<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Добро пожаловать на сайт просмотра отзывов фильмов</title>
    <script>
        function showLoginForm() {
            document.getElementById('loginForm').style.display = 'block';
            document.getElementById('registerForm').style.display = 'none';
            document.getElementById('error').style.display = 'none';  // Скрываем сообщение об ошибке
        }
        function showRegisterForm() {
            document.getElementById('loginForm').style.display = 'none';
            document.getElementById('registerForm').style.display = 'block';
            document.getElementById('error').style.display = 'none';  // Скрываем сообщение об ошибке
        }
    </script>
    <style>
        /* Стили для формы */
        body {
            background-color: #04c3b6; /* Цвет фона */
        }
        /* Стили для кнопок */
        .film-button {
            margin-right: 10px; /* Отступ справа между кнопками */
        }
        /* Расстояние между меткой и кнопками */
        #filmForm {
            margin-bottom: 20px; /* Расстояние между меткой и кнопками */
        }
    </style>
</head>
<body>
    <h1>Добро пожаловать на сайт просмотра отзывов фильмов</h1>
    <p>Зайдете как гость или как пользователь?</p>
    <form action="/login" method="post">
        <button type="submit" name="user_type" value="guest">Как гость</button>
        <button type="button" onclick="showLoginForm()">Как пользователь</button>
        <button type="button" onclick="showRegisterForm()">Зарегистрироваться</button>
    </form>
    <form id="loginForm" action="/login" method="post" style="display: none;">
        <label for="username">Логин:</label><br>
        <input type="text" id="username" name="username"><br>
        <label for="password">Пароль:</label><br>
        <input type="password" id="password" name="password"><br>
        <button type="submit">Войти</button>
        <p id="error" style="color: red; display: none;"></p>  <!-- Сообщение об ошибке изначально скрыто -->
    </form>
    <form id="registerForm" action="/register" method="post" style="display: none;">
        <label for="new_username">Логин:</label><br>
        <input type="text" id="new_username" name="new_username"><br>
        <label for="new_password">Пароль:</label><br>
        <input type="password" id="new_password" name="new_password"><br>
        <button type="submit">Зарегистрироваться</button>
    </form>
</body>
</html>